* {
	margin: 0;
	padding: 0;
	outline: 0;
}

/*Header Section CSS Starts*/
.header-section {
    background: #121B2A;
    padding: 8px 0;
}
.header-section .wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
}
.header-section .wrapper .logo {
    width: 18%;
    float: left;
}
.header-section .wrapper .logo img {
    width: 100%;
}

.header-section .wrapper .menu {
    width: 70%;
    float: right;
    margin-top: 50px;
}
.header-section .wrapper .menu ul {
    float: right;
}
.header-section .wrapper .menu ul li {
    list-style: none;
    float: left;
}
.header-section .wrapper .menu ul li a {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 0 25px;
    display: inline-block;
    transition: 0.3s;
}
.header-section .wrapper .menu ul li:last-child a {
    padding-right: 0;
}
.header-section .wrapper .menu ul li a:hover {
    color: #0078BD;
}
/*Header Section CSS Ends*/